.update-tag {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .update-tag-top {
    flex: 0 0 auto;
  }

  .update-tag-content {
    padding: 20px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 46px);

    .update-tag-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      flex: 0 0 auto;
      max-height: calc(50% - 136px);
      overflow: auto;
    }

    .update-tag-item {
      margin: 5px;
    }

    .update-tag-un-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      flex: 0 0 auto;
      overflow: auto;
      max-height: calc(50% - 136px);
    }

    .update-tag-send-button {
      margin-top: 30px;
      width: 300px;
      height: 100px;
      font-size: 40px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F4F6F9;

      .update-tag-send-icon {
        margin-right: 5px;
      }
    }
  }
}
