.window-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  flex: 0 0 auto;

  .window-desc-top {
    display: flex;
    width: 100%;

    .window-desc-top-text {
      flex: 1 1 0;
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      .window-desc-title {
        font-size: 40px;
        font-weight: bold;
      }

      .window-desc-canteen-star {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 35px;

        .window-desc-canteen {
          color: #000000b0;
        }

        .window-desc-star {
          color: #f5b461;
          font-weight: bold;
        }
      }
    }

    .window-desc-top-image {
      flex: 0 0 15vw;
      height: 15vw;
      border-radius: 12px;
      margin-left: 5px;
    }
  }

  .window-desc-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #00000090;
    font-size: 30px;
  }

  .window-desc-more {
    color: #d32f2f;
    font-size: 30px;

    &:active {
      color: #ef9a9a;
    }
  }

  .window-desc-map-image {
    width: 100%;
  }

  .window-desc-map-title {
    margin-top: 10px;
    font-size: 35px;
    font-weight: bold;
  }

  .window-desc-map-content {
    font-size: 27px;
    color: #000000b0;
  }
}
