.filter {
  .filter-content {
    padding: 20px 0 20px 0;
    background-color: #F4F6F9;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .filter-form {
      flex: 0 0 1;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .filter-form-item {
        display: flex;
        align-items: center;
        font-weight: bold;
      }

      .filter-form-tag {
        .filter-form-tag-list {
          max-height: 300px;
          flex: 1 1 0;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          overflow: auto;

          .filter-form-tag-item {
            margin: 5px;
          }
        }
      }
    }

    .filter-data-list {
      flex: 1 1 0;
      overflow: auto;
    }
  }
}
