.index {
  background-color: #F4F6F9;
  max-height: calc(100% - 67.52px);
  display: flex;
  flex-direction: column;

  .index-tab {
    flex: 0 0 76px;
  }

  .index-main {
    flex: 1 1 0;
    max-height: calc(100% - 76px);

    .index-list {
      height: 100%;
      overflow: auto;
    }
  }
}
