.authorization {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .image {
    flex: 0 0 37vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #66bb6a, #9ad3bc);

    .src {
      width: 400px;
      height: 300px;
    }
  }

  .content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 50px;
        font-weight: bold;
      }

      .desc {
        margin-top: 10px;
        font-size: 35px;
        color: #00000090;
      }
    }

    .button {
      width: 80%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .button-content {
        font-size: 40px;
      }
    }
  }
}
