.authorization {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .image {
    flex: 0 0 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #D32F2F, #FF5252);

    .src {
      width: 400px;
      height: 300px;
    }
  }

  .content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .desc {
      margin-top: 10px;
      font-size: 35px;
      color: #00000070;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 50px;
        font-weight: bold;
      }
    }

    .features {
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      .features-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
          width: 100px;
          height: 100px;
        }
      }
    }

    .button {
      width: 80%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #eF3232;
      color: #F4F6F9;

      .button-content {
        font-size: 40px;
      }
    }

    .button-hover {
      background-color: #D32F2F;
    }
  }
}
