.navigation {
  height: 100%;
  position: relative;

  .navigation-bar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #d32f2f;
    z-index: 10;

    .navigation-button {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .filter-search {
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        border: rgba(0, 0, 0, 0);
        padding: 16px;
      }
    }
  }
}
